<div class="jumbotron text-center">
  
	<h1>What do we do?</h1> 
	<p>We specialise in photographs, photo albums, photoshop and photobombs.</p> 
	<p>Founders <strong>Ha</strong>ris, <strong>Vin</strong>cent, and <strong>Jac</strong>inta have paved the way of picturesque pictures.</p><br/>

</div>

